*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fredoka;
    src: url(../fonts/FredokaOne-Regular.ttf);
}
/* inicio */
body{
    background-color: rgb(189, 184, 183);
    background-image: url(../img/Abstract\ Cogs\ Eye\ Future\ Circuit\ Technology\ Security\ System\ Background\,\ Vector\ Illustration_\ Stock\ Vector\ -\ Illustration\ of\ background\,\ engineering_\ 194944347.png);
    background-size: contain;
    background-blend-mode:lighten;
}
.navPrincipal{
    margin-top: 10px;
    list-style: none;
}
.regContacto{
    font-family: fredoka;
    margin: auto;
}
.visita{
    border: 3px solid;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 10px;
}
.visita > a{
    padding: 10px;
    text-decoration: none;
}
.favo{
    border: 3px solid;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 10px; 
}
.favo > a{
    padding: 10px;
    text-decoration: none;
}
.navbar{
    font-family: fredoka;
}
.qr{
    font-family: fredoka;
}
.contacto .titContacto{
    font-size: 90px;
    font-weight: bolder;
    font-family: fredoka; color: indigo;
    padding: 10px;
    border: 18px solid;
    border-style: double;
    border-color: coral;
    background-color: rgb(195, 231, 219);
    border-radius: 28px;
}
.mapa{
    border: 3px solid;
    border-radius: 9px;
    border-color: darkgreen;
    font-family: fredoka;
    color: indigo;
    padding: 5px;
    background-color: rgb(195, 231, 219);
}
.registrese{
    padding: 25px;
    font-family: fredoka;
    font-size: 50px;
    color: indigo;
}
.formRegistro{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.formRegistro form{
    font-family: fredoka;
    color: coral;
    width: 400px; 
    border: 6px solid;
    border-radius: 16px;
    background-color: rgb(195, 231, 219);
    padding: 10px;
}
.formRegistro form label{
    padding: 20px;
}
.formRegistro form legend{
    color: indigo;
}
.formRegistro form{
    padding: 6px;
}
.resEnv{
    padding: 6px;
    font-size: 16px;
    font-weight: bolder;
    font-style: oblique;
    color: brown;
    border: 2px solid;
    border-radius: 10px;
    margin: 5px;
}
.mensaje{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.mensaje .areaMensaje{
    border: 6px solid;
    border-color: coral;
    border-radius: 16px;
    padding: 10px;
    font-size: 17px;
    font-family: fredoka;
    color: indigo;
    background-color: rgb(195, 231, 219);
}
.mensaje .areaMensaje > fieldset > textarea{
    padding: 10px;
    font-size: 17px;
}
.mensaje .areaMensaje > fieldset > input{
    padding: 6px;
    font-size: 16px;
    font-weight: bolder;
    font-style: oblique;
    color: brown;
    border: 2px solid;
    border-radius: 10px;
    margin: 5px;
}
.mensaje .consulta{
    padding: 25px;
    font-family: fredoka;
    font-size: 50px;
    color: indigo;
}
.enlaces{
    width: 570px;
    padding: 65px;
    font-family: fredoka;
    font-size: 50px;
    color: indigo;
    margin: auto;
}
.enlHorizontal > li{
    margin: 20px;
}
.enlHorizontal li a{
    color: coral;
    background-color: rgb(195, 231, 219);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-family: fredoka;
}
.enlacesInteres > .enlHorizontal{
    list-style: none;
    font-size: 28px;
    font-weight: bolder;
    font-style: italic;
    color: coral;
}
